@import '_header';
@import '_decentralised';
@import '_partners';
@import '_features';
@import '_statistics';
@import '_feature';
@import '_testimonial';
@import '_faq';
@import '_revolutionary';
@import '_footer';



body{
    display: flex;
    flex-direction: column;
    background-color: #0F0F0F;
        margin: 0 auto;
        width: 1440px;

}